.task {
  width: 90%;
  border-bottom: 1px solid #fbfdfc;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task h3 {
  max-width: 90%;
  text-align: left;
}

#newTask {
  width: 70%;
}
