/* match with task class from Checklist */
.items {
    width: 90%;
    border-bottom: 1px solid #fbfdfc;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items div {
    text-align: left;
    padding-bottom: 5px;
}

#col1 {
    width: 60%;
}

#col2, #itemQty {
    width: 25%;
}

#itemContent {
    width: 40%;
}