@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat");

body {
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #234f68;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* app title */
h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fbfdfc;
}

h3 {
  font-family: "Helvetica Neue", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 10px;
}

/* user menu */
h4 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fbfdfc;
  margin: 0 40px;
}
